@font-face
{
	font-family: ballpark;
	src: url(../fonts/ballpark.ttf);
}

a:hover
{
	text-decoration: none;
}

body
{
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
}

.top-block
{
	border-bottom: 4px solid #242424;
	background: url(../img/bg-top-block.jpg) repeat 0 0;
}

header
{
	padding-top: 24px;
}

.logo
{
	width: 130px;
	color: #e0e0e0;
	font-size: 36px;
	font-family: ballpark;
}

.logo:hover
{
	color: #e0e0e0;
}

nav a 
{
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	color: #e8e8e8;
	padding: 10px 14px;
	font-weight: bold;
	display: block;
}

nav a:hover
{
	color: #e8e8e8;
}

nav .list-inline>li
{
	padding-right: 21px;
	background: url(../img/bg-nav-li.png) no-repeat 100% 50%;
}

nav li
{
	padding-right: 21px;
	background: url(../img/bg-nav-li.png) no-repeat 100% 50%;
}

nav li.active a, nav a:hover
{
	background-color: #2f2f2f;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 8px rgba(0, 0, 0, 0.25);
}

form
{
	background-color: #2f2f2f;
	border-top: 1px solid #262626;
	border-radius: 25px;
	padding-top: 9px;
}

input[type="text"]
{
	width: 115px;
	outline: none;
}

input, button
{
	background: transparent;
	border: none;
}

.middle-button
{
	background-color: #999999;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
	font-size: 13px;
	color: #fff;
	border: none;
	width: 142px;
	font-weight: bold;
	line-height: 20px;
}

.middle-button p
{
	padding: 12px 31px 13px 25px;
}